---
Checks: '*,
    -llvmlibc-implementation-in-namespace,
    -llvmlibc-callee-namespace,
    -llvmlibc-restrict-system-libc-headers,
    -llvm-header-guard,
    -altera-unroll-loops,
    -cert-err58-cpp,
    -cert-msc30-c,
    -cert-msc50-cpp,
    -modernize-use-trailing-return-type,
    -misc-unused-parameters,
    -clang-analyzer-security.insecureAPI.rand'
