---
Checks: '*,
    -altera-struct-pack-align,
    -altera-unroll-loops,
    -cert-err58-cpp,
    -cert-msc30-c,
    -cert-msc50-cpp,
    -clang-analyzer-security.insecureAPI.rand,
    -clang-diagnostic-unused-variable,
    -google-readability-todo,
    -llvm-header-guard,
    -llvmlibc-callee-namespace,
    -llvmlibc-implementation-in-namespace,
    -llvmlibc-restrict-system-libc-headers,
    -misc-unused-parameters,
    -modernize-use-trailing-return-type,
    -readability-identifier-length,
    '
HeaderFilterRegex: "source/drivers/include/.*"