[submodule "source/modules/CMSIS_5"]
	path = source/modules/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "source/modules/stm32f4xx_hal_driver"]
	path = source/modules/stm32f4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
[submodule "source/modules/FreeRTOS-Kernel"]
	path = source/modules/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "source/modules/cmsis_device_f4"]
	path = source/modules/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
