[submodule "modules/FreeRTOS-Kernel"]
	path = modules/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "modules/cmsis_device_f4"]
	path = modules/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
[submodule "modules/stm32f4xx_hal_driver"]
	path = modules/stm32f4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
[submodule "modules/CMSIS_5"]
	path = modules/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
